.msheader {
    background-color: rgba($primaryColor, 0.3);
    height: 2rem;
    text-align: right;
    position: absolute;
    top: 0;
    width: 100%;
    color: $primaryColorText;

    & .fila {
        margin: 0;
    }

    & i {
        margin: 0 0.5rem;
    }
}

.msnav {
    position: fixed;
    top: 2rem;
    width: 100%;
    background-color: transparent;

    &.fila {
        margin: 0;
    }

    & .msnav-logo {
        margin: 0.2rem 0;
        color: $secondaryColorText;

        & img {
            height: 5rem;
            margin-right: 0.5rem;
        }

        & p {
            margin: 0;
            font-family: $fontTitle;
            font-weight: 700;
        }
    }

    & .msnav-items {
        list-style: none;

        & li {
            padding: 0 1.5rem;
            color: $secondaryColorText;
            cursor: pointer;

            &.activeitem,
            &.activeitem a {
                color: $secondaryColor;
            }

            & a {
                color: $secondaryColorText;
                &:hover {
                    color: $secondaryColor;
                    & .msnav-items li {
                        color: $secondaryColor;
                    }
                }
            }
        }

        & .msnav-subitems {
            position: relative;
            display: flex;
            justify-content: center;

            &:hover {
                & .msnav-items_subitems {
                    display: flex;
                }
            }

            & .msnav-items_subitems {
                list-style: none;
                display: none;
                position: absolute;
                background-color: $primaryColor;
                box-shadow: $shadow;
                padding: 0;
                top: 2rem;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                &::before {
                    content: "";
                    position: absolute;
                    top: -1.071rem;
                    width: 0;
                    height: 0;
                    border-left: 0.5714rem solid transparent;
                    border-right: 0.5714rem solid transparent;
                    border-bottom: 1.143rem solid $primaryColor;
                    text-shadow: $shadow;
                }

                & li {
                    cursor: pointer;
                    padding: 1rem 2rem;
                    &:hover {
                        color: $secondaryColor;
                    }
                }
            }
        }

    }
}









.activeitem {
    color: red;
}