// COLOR PRIMARIO
$primaryColor: #4527A0;
$primaryColorDark: #1A237E;
$primaryColorAcent: #C5CAE9;
$primaryColorText: #E8EAF6;
// COLOR SECUNDARIO
$secondaryColor: #FFB74D;
$secondaryColorDark: #FF6F00;
$secondaryColorAcent: #FFE0B2;
$secondaryColorText: #FFF8E1;

// COLORES
$whiteColor: #ECEFF1;
$blackColor: #37474F;
$purpleColor: #622C6A;

// FONTS
$fontText: 'Arial Rounded MT', sans-serif;
$fontMain: 'Montserrat', sans-serif;
$fontTitle: 'Montserrat Alternates', sans-serif;

$shadow: 1px 2px 3px rgba(0,0,0,0.5);

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primaryColor,
    "secondary":  $secondaryColor
  ),
  $theme-colors
);

$enable-caret:                                true !default;
$enable-rounded:                              true !default;
$enable-shadows:                              false !default;
$enable-gradients:                            false !default;
$enable-transitions:                          true !default;
$enable-prefers-reduced-motion-media-query:   true !default;
$enable-hover-media-query:                    false !default;
$enable-grid-classes:                         true !default;
$enable-pointer-cursor-for-buttons:           true !default;
$enable-print-styles:                         true !default;
$enable-responsive-font-sizes:                false !default;
$enable-validation-icons:                     true !default;
$enable-deprecation-messages:                 true !default;

$spacer: 1rem !default;
$spacers: () !default;

$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

$sizes: () !default;

$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;

$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;

$border-width:                1px !default;

$border-radius:               .25rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;

$rounded-pill:                50rem !default;

$box-shadow-sm:               0 .125rem .25rem rgba($blackColor, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba($blackColor, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($blackColor, .175) !default;

$component-active-color:      $whiteColor !default;
$component-active-bg:         theme-color("primary") !default;

$caret-width:                 .3em !default;

$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;

$embed-responsive-aspect-ratios: () !default;

$embed-responsive-aspect-ratios: join(
  (
    (21 9),
    (16 9),
    (4 3),
    (1 1),
  ),
  $embed-responsive-aspect-ratios
);

$font-size-base:              1rem !default;
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;
