@media only screen {
    html {
        min-height: 100%;
        background-color: #e7e7e7;
    }
    a {
        text-decoration: none;
        color: #f14c4c;
    }
}

@media only screen and (max-width:490px) {
    table[class="email-container"] {
        width: 120% !important;
    }
    td.email-header {
        padding: 1em 2em 0 !important;
    }
    td.email-header_logo {
        width: 100% !important;
        text-align: center;
    }
    td.email-header_logo div {
        display: block !important;
    }
    td.email-header_smsinteractivo {
        display: initial !important;
    }
    td.email-header_info {
        display: none !important;
    }
    table.email-body_message h3 {
        /* margin-top: 55px !important; */
    }
    td.email-body_user-info {
        width: 100% !important;
        text-align: center !important;
    }
    td.email-body_user-info h2 {
        font-size: 16px;
    }
    td.email-body_user-img {
        display: none !important;
    }
    td.email-body_infodata-data {
        font-size: 12px !important;
    }
    td.email-body_infodata-data div {
        height: 15px !important;
    }
    table.email-body_support {
        font-size: 12px;
    }
    table.email-body_support hr {
        width: 70% !important;
    }
    table.email-body_address tr > td.address,
    table.email-body_address tr > td.phones {
        width: 100% !important;
        display: block !important;
        text-align: center !important;
    }
    table.email-body_address-detail {
        width: 100% !important;
    }
    table.email-body_address-detail td.icon,
    table.email-body_address-detail td.info {
        display: block !important;
        width: 100% !important;
        margin-top: 10px;
    }
    table.email-body_networks {
        display: table !important;
    }
}